body{
    background-color: lightgray;
}

button{
    color: white;
    background-color: black;
}
.span1{
    background-image: url(./wasif\ ahmed.jpeg);
    width: 49%;
    height: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    text-decoration: none;
    

}


 
.span2{
    background-image:url(./wasif\ jpeg.jpeg) ;
    width: 49%;
    height:400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    text-decoration: none;

}
